absl-py==0.9.0
antiorm==1.2.1
argon2==0.1.10
argon2-cffi==19.2.0
asgiref==3.2.7
astor==0.8.1
cffi==1.14.0
db==0.1.1
db-sqlite3==0.0.1
Django==3.0.4
gast==0.3.3
glob2==0.7
google-pasta==0.2.0
grpcio==1.27.2
h5py==2.10.0
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.2.1
numpy==1.18.2
opencv-python==4.1.2.30
Pillow==7.0.0
protobuf==3.11.3
pycparser==2.20
pytz==2019.3
PyYAML==5.3.1
scipy==1.4.1
six==1.14.0
sqlparse==0.3.1
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
Werkzeug==1.0.0
wrapt==1.12.1
