<!DOCTYPE html>
<html lang="en" dir="ltr">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <head>
    <meta charset="utf-8">
    <title>
      WebApp_Name
    </title>
    <link rel="icon" href="icon.ico" />
    <!img src="logo.png" alt="ImageNotFound" height="10" width="10">
  </head>


  <body>

    <div class="container">
      <script type="text/javascript">
      <!--

        function FindPosition(oElement)
        {
          if( typeof( oElement.offsetParent ) != "undefined" )
          {
            for( var posX = 0, posY = 0; oElement; oElement = oElement.offsetParent )
            {
              posX += oElement.offsetLeft;
              posY += oElement.offsetTop;
            }
            //console.log([ posX, posY ]);
            return [ posX, posY ];
          }
          else
          {
            return [ oElement.x, oElement.y ];
          }
        }

        function GetCoordinates(e)
        {
         var PosX = 0;
         var PosY = 0;
         var ImgPos;
         ImgPos = FindPosition(myImg);
         //console.log(ImgPos);
         if (!e) var e = window.event;
         if (e.pageX || e.pageY)
         {
          PosX = e.pageX;
          PosY = e.pageY;
         }
         else if (e.clientX || e.clientY)
           {
            PosX = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
            PosY = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
         }
         PosX = PosX - ImgPos[0];
         PosY = PosY - ImgPos[1];
         document.getElementById("x1").innerHTML = PosX/2;
         document.getElementById("y1").innerHTML = PosY/2;
        }



      //-->
      </script>

        <div class="label">
          <img id="outputImagelabel" src="output.png" alt="" width="512" height="512">
        </div>

      <p><strong>First Point:</strong></p>
      <p id="x">X: <span id="x1"></span></p>
      <p id="y">Y: <span id="y1"></span></p>

      <script type="text/javascript">
      <!--
      var myImg = document.getElementById("outputImagelabel");
      myImg.onmousedown = GetCoordinates;



      //-->
      </script>



    </div>
  </body>

</html>
