{% extends "label/base.html" %}

{% block login_logout_block %}
<form action={% url 'logout' %} method="GET">
    <button class="btn btn-outline-danger btn-lg" style="float: right; ">Log out</button>
</form>
{% endblock %}


{% block body_block %}

<div class="container jumbotron" style="display: block;
                                          margin-left: auto;
                                          margin-right: auto;
                                          width: 50%;">
  <img src="{{ image_url1 }}" alt="" height="500" width="500"> <br><br>
  <img src="{{ image_url2 }}" alt="" height="500" width="500"> <br><br>
  <h5 style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;"> <strong> Change Detected {{ difference }} </strong> </h5>
</div>

{% endblock %}
