{% extends "label/base.html" %}

{% block login_logout_block %}
<form action={% url 'logout' %} method="GET">
    <button class="btn btn-outline-danger btn-lg" style="float: right; ">Log out</button>
</form>
{% endblock %}


{% block body_block %}
{% if is_not_file_valid %}
<div class="alert alert-danger">
  <strong> Uploaded file is invalid </strong>
</div>
{% endif %}

<div class="container">
  <form action={% url 'label:developmentTrackerResponse' %} method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Past</label>
    <br>
    <input class="btn btn-dark" name="file1" type="file"/>
    <br><br>
    <label>Present</label>
    <br>
    <input class="btn btn-dark" name="file2" type="file"/>
    <br><br>
    <button class="btn btn-dark active" type="submit">Upload</button>
  </form>
</div>


{% endblock %}
