{% extends "label/base.html" %}

{% block login_logout_block %}
<form action={% url 'logout' %} method="GET">
    <button class="btn btn-outline-danger btn-lg" style="float: right; ">Log out</button>
</form>
{% endblock %}


{% block body_block %}

{% if is_not_file_valid %}
<div class="alert alert-danger">
  <strong> Uploaded file is invalid </strong>
</div>
{% endif %}

<div class="container jumbotron" style="display: block;
                                          margin-left: auto;
                                          margin-right: auto;
                                          width: 50%;">
  <form action={% url 'label:labelmeResponse' %} method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <select name="type" class="btn btn-dark" style="margin: auto; display: table;">
      <option value="road">Roads</option>
      <option value="building">Buildings</option>
      <option value="car">Cars</option>
    </select> <br><br>

    <input class="btn btn-dark" name="file" type="file" style="margin: auto; display: table;"/>
    <br><br>

    <button class="btn btn-dark active" type="submit" style="margin: auto; display: table;">Upload</button>
  </form>
</div>

{% endblock %}
