{% extends "label/base.html" %}

{% block login_logout_block %}
<form action={% url 'logout' %} method="GET">
    <button class="btn btn-outline-danger btn-lg" style="float: right; ">Log out</button>
</form>
{% endblock %}


{% block body_block %}

<div class="container jumbotron" style="display: block;
                                          margin-left: auto;
                                          margin-right: auto;
                                          width: 50%;">
  <img src="{{ image_url }}" alt="" height="500" width="500"> <br><br>

  <form class="" action={% url 'label:getJson' %} method="GET">
    <button class="btn btn-dark btn-lg" type="submit" style="margin:auto; display:block;"> Download Json </button>
  </form> <br>

  <form class="" action={% url 'label:getPng' %} method="GET">
    <button class="btn btn-dark btn-lg" type="submit" style="margin:auto; display:block;"> Download Image </button>
  </form>
</div>

{% endblock %}
