{% extends "label/base.html" %}

{% block login_logout_block %}
<form action={% url 'logout' %} method="GET">
    <button class="btn btn-outline-danger btn-lg" style="float: right; ">Log out</button>
</form>
{% endblock %}


{% block body_block %}
<div class="container">
  <form action={% url 'label:labelmeResponse' %} method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input class="btn btn-dark" name="file" type="file"/>
    <br><br>
    <button class="btn btn-dark active" type="submit">Upload</button>
  </form>
</div>

{% endblock %}
