<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
<link rel="stylesheet" href={% static "css/bootstrap.css" %}>
<link rel="stylesheet" href={% static "css/login.css" %}>
<script src={% static "js/bootstrap.js" %}></script>

<script type="text/javascript">
     function preventBack() {
         window.history.forward();
     }
     setTimeout("preventBack()", 0);
     window.onunload = function () { null };
 </script>

  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body class="text-centre" data-gr-c-s-loaded="true">
    <div class="col-xs-1 text-center">
    {% if incorrect != None %}
    <div class="alert alert-danger" role="alert">
      <strong>{{ incorrect }}</strong>
    </div>
    {% endif %}

    <div class="limiter">
  		<div class="container-login100">
  			<div class="wrap-login100 p-t-50 p-b-90">
  				<form class="login100-form validate-form flex-sb flex-w" action={% url 'label:user_login' %} method="post">
            {% csrf_token %}
            <a class="" href={% url 'label:index' %}>  <img src={% static "/images/logo.png" %} width="160" height="90" style="  display: block;
  margin-left: 115px; margin-right: 115px;"></a>

            <span class="login100-form-title p-b-51">

  					</span>

  					<div class="wrap-input100 validate-input m-b-16 " data-validate = "Username is required">
  						<input class="input100" type="text" name="username" placeholder="Username">
  						<span class="focus-input100"></span>
  					</div>

  					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
  						<input class="input100" type="password" name="password" placeholder="Password">
  						<span class="focus-input100"></span>
  					</div>

  					<div class="container-login100-form-btn m-t-17 ">
  						<button class="btn-danger login100-form-btn " type="submit" value="Login">
  							Login
  						</button>
  					</div>

  				</form>
  			</div>
  		</div>
  	</div>

</div>
  </body>
</html>
